  <div class="about">
    <div class="container mt-3 aboutme">
      <div class="blog-left">
        <div class="container mt-3">
          <h1 class="my-3">About Me</h1>
          <%= image_tag("hannahathome.jpg") %>
          <p class="mt-5 text-left">
            I’m Hannah — a Reseach Scientist (MSc.), obsessive home baker, a self confessed feeder and writer of this here blog! I’m so glad you’re here.
            <br><br>
            I have always been obsessed with baking. I love trying new flavours and applying food science to test new baking techniques, and understand the processes that are occurring. My obsession with food started at a very young age as a way of connecting with people to share something special.
            <br><br>
            I believe that any baking-related issue can be resolved or realized using a scientific eye, and recipes CAN be simple and successful when designed correctly. I hope that I can share my scientifically proven, fail safe recipes with you.          </p>
        </div>
      </div>
      <div class="blog-right">
        <div class="search text-center mt-5">
          <h5>SEARCH</h5>
          <%= form_tag posts_path, class: "form-inline justify-content-center", method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find a recipe"
            %>
            <%= submit_tag "Search", class: "btn btn-light ml-2 mobile-none" %>
          <% end %>
        </div>

    <!-- <div class="instagram text-center mt-5">
          <h5>INSTAGRAM</h5>
        </div> -->
        <div class="instagram text-center mt-5">
          <h5>SOCIALS</h5>
          <div class="socials-links justify-content-center">
            <a href="https://www.instagram.com/hannahshomemades_/"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fas fa-envelope"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>
