.aboutme {
  text-align: center;
  display: flex;
}

.aboutme img {
  width: 45vw;
  height: auto;
  object-fit: contain;
}


.about {
  text-align: center;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: top;
  flex-direction: row;
}

.account-buttons {
  display: flex;
  flex: wrap;
  justify-content: space-around;

}
