.top-image img {
  width: 75%;
  height: 45vh;
  object-fit: cover;
}

.form-control {
  overflow: scroll;
}

trix-editor {
  min-height: 40vh !important;
}

.recipe-card {
  text-align: left;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ingredients {
  background-color: #FBF9E7;
  color: #5b5029;
  padding: 15px;
}

.ingredients li {
  border-bottom: 1px solid #e9e5c9;
}

.method {
   padding: 15px;
}

.recipe-card-image img {
  width: 100%;
  height: 45vh;
  object-fit: cover;
}

.recipe-card ul {
  list-style: none;
}

.stats {
  width:100%;
  display: flex;
  justify-content: space-around;
}

.servings {
  width: 300px;
  text-align: center;
}

.preptime {
  width: 300px;
  text-align: center;
}
.cooktime {
  width: 300px;
  text-align: center;
}

.blog-content {
  display: flex;
  justify-content: center;
}

.blog-left {
  width: 66%;
}

.blog-right {
  width: 33%;
  padding: 0 15px;
}

.form-inline div {
  display: inline-block
}

.search {
  background-color: lightgrey;
  padding: 30px;
}


