.top-image img {
  width: 100%;
  height: 45vh;
  object-fit: cover;
}

.form-control {
  overflow: scroll;
}

trix-editor {
  min-height: 40vh !important;
}

.recipe-card {
  text-align: left;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-card li {
  line-height: 2;
}
.ingredients {
  background-color: #FBF9E7;
  color: #5b5029;
  padding: 15px;
}

.ingredients li {
  border-bottom: 1px solid #e9e5c9;
}

.method {
   padding: 15px;
}

.recipe-card-image img {
  width: 100%;
  height: 45vh;
  object-fit: cover;
}

.recipe-card ul {
  list-style: none;
}

.stats {
  width:100%;
  display: flex;
  justify-content: space-around;
}

.servings {
  width: 300px;
  text-align: center;
}

.preptime {
  width: 300px;
  text-align: center;
}
.cooktime {
  width: 300px;
  text-align: center;
}

.blog-content {
  display: flex;
  justify-content: center;
}

.blog-left {
  width: 66%;
}

.blog-right {
  width: 33%;
  padding: 0 15px;
}

.form-inline div {
  display: inline-block
}

.search {
  background-color: whitesmoke;
  padding: 30px;
}

.popular {
  background-color: whitesmoke;
  padding: 30px;
}

.popular-card img {
  width: 80%;
  height: 150px;
  object-fit: cover;
}

.socials-links {
  display: flex;
  align-items: center;
}

.socials-links a {
  color: black;
  opacity: 0.45;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.socials-links a:hover {
  opacity: 1;
}

.next-previous {
  display: flex;
  margin: 20px;
  justify-content: space-between;
}

.carousel-caption {
  background-color: rgba(245,245,245 ,0.7 );
  color: black;
}

.show-page-images {
  .carousel-inner {
      overflow: hidden;
      height: 500px;
      width: 100%;

    img {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
  }

    @media screen and (max-width: 992px) {
      .carousel-inner {
        width: auto;
        height: 50vh;
      img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .blog-content {
    flex-direction: column;
  }
  .blog-left {
    width: auto;
  }
  .blog-right {
    width: auto;
  }
  .mobile-none {
    display: none;
  }
}

