@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&family=Josefin+Sans:wght@100;200;400;700&display=swap');

.card-product {
  overflow: hidden;
  height: 320px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  display: flex;
  align-items: center;
}

.card-product-right img {
  order: 5;
}

.card-product img {
  height: 100%;
  width: 33vw;
  object-fit: cover;
}

.card-product h2 {
  font-family: Josefin Sans, sans-serif;
}

.card-product h6 {
  font-family: Josefin Sans, sans-serif;
  font-weight: lighter;
}

.card-product p {
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  font-family: EB Garamond, serif;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-infos {
  flex: 2;
}

@media only screen and (max-width: 992px) {
  .card-product {
    flex-direction: column;
  }
  .card-product-right img {
  order: 0;
  }
  .card-product img {
  height: 33vh;
  width: 100%;
  object-fit: cover;
  }
  .card-product {
  overflow: hidden;
  height: auto;
  }
}
